.pages-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 44px 73px 40px 75%;
}

.pages-list__item {
    position: relative;

    .pages-list__link {
        display: block;
        font-size: 20px;

        &:hover,
        &:focus {
            font-weight: 700;
        }

        &:focus-visible {
            outline: none;
        }
    }
}

.activePage {
    width: 165px;

    &::after {
        position: absolute;
        content: "";
        width: 14px;
        height: 8px;

        top: 50%;
        left: 100%;
        transform: translate(-100%, -50%);

        background-repeat: no-repeat;
        background-image: url("../img/small-arrow.png");
    }
}

.rotatePseudo {
    &::after {
        transform: translate(-100%, -50%) rotate(180deg);
    }
}

.subparagraphs-list {
    position: absolute;
    z-index: 1;
    width: 414px;

    margin: 0;
    padding: 0;

    top: 50px;
    left: -150%;
    background-color: $color-white;

    .subparagraphs-list__item {
        .subparagraphs-list__link {
            display: block;
            padding: 13px 11px;
            text-align: right;
            font-size: 16px;
            border: 1px solid $ocher;
            border-bottom: none;

            &:hover {
                background-color: $rgba-ocher;
            }

            &:focus {
                font-weight: 700;
            }

            &:active {
                font-weight: 700;
                background-color: $rgba-ocher;
            }

            &:focus-visible {
                outline: none;
            }
        }

        &:last-of-type .subparagraphs-list__link {
            border-bottom: 1px solid $ocher;
        }
    }
}

.header-heading {
    position: relative;
    overflow: hidden;
    height: 225px;
    background-color: $ocher;

    .arrow-back {
        position: absolute;
        width: 101px;
        height: 16px;

        top: 50%;
        left: 5%;
        transform: translate(-50%, -50%);
        background-image: url("../img/big-arrow.png");

        &:hover,
        &:focus {
            background-color: $color-white;
        }
        
        &:active {
            background-color: $ocher;
        }

        &:focus-visible {
            outline: none;
        }
    }

    .heading {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 7%;
        transform: translateY(-50%);
    }
    
    .centerHeading {
        top: 60px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .arrowHeading {
        top: 50%;
        left: 15%;
        transform: translateY(-50%);
    }
    
    .description {
        position: absolute;
        top: 100px;
        left: 50%;
        font-family: BatangChe;
        transform: translateX(-50%);
    }

    &::before,
    &::after {
        position: absolute;
        content: "";
        width: 81px;
        height: 63px;

        top: -24px;
        left: 22%;
        transform: translateX(-100%);
        background-color: $color-white;
    }

    &::after {
        top: 193px;
        left: 80%;
    }

    .diagonals-list {
        position: absolute;
        margin: 0;
        padding: 0;

        top: 2px;
        left: -80px;

        .diagonals-list__item {
            margin-bottom: 25px;

            .diagonals-list__line {
                width: 280px;
                height: 6px;
                border-radius: 3px;
                transform: rotate(55.78deg);
                background-color: $color-white;
            }
        }
    }

    #lastDiagonals {
        top: -50px;
        left: 81%;
        transform: translateX(-50%);
    }
}
